.dropZone {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.dropZone[data-is-dragging='true'] {
  pointer-events: auto;
}

.zone {
  position: absolute;
  background-color: transparent;
  transition: background-color var(--pc-dropzone-anim-duration) ease;
  pointer-events: none;
  box-sizing: border-box;
}

.dropZone[data-is-dragging='true'] .zone {
  background-color: var(--pc-dropzone-color-bg-idle);
  pointer-events: auto;
}

.dropZone[data-is-dragging='true'] .zone[data-is-hovered='true'] {
  background-color: var(--pc-dropzone-color-bg-hover);
}

.zoneCenter {
  inset: 0;
}

.zoneTop {
  top: 0;
  left: 0;
  right: 0;
  height: var(--pc-dropzone-edge-size, var(--pc-dropzone-size-edge));
}

.zoneBottom {
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--pc-dropzone-edge-size, var(--pc-dropzone-size-edge));
}

.zoneLeft {
  top: 0;
  bottom: 0;
  left: 0;
  width: var(--pc-dropzone-edge-size, var(--pc-dropzone-size-edge));
}

.zoneRight {
  top: 0;
  bottom: 0;
  right: 0;
  width: var(--pc-dropzone-edge-size, var(--pc-dropzone-size-edge));
}

@media (prefers-contrast: more) {
  .dropZone[data-is-dragging='true'] .zone {
    background-color: var(--pc-dropzone-color-bg-contrast);
  }
}
