:root {
  /* Text */
  --pc-tab-color-text-default: var(--pc-color-text-default);
  --pc-tab-color-text-active: var(--pc-color-text-active);

  /* Background */
  --pc-tab-color-bg-default: var(--pc-color-bg-default);
  --pc-tab-color-bg-hover: var(--pc-color-bg-hover);
  --pc-tab-color-bg-active: var(--pc-color-bg-active);
  --pc-tab-color-bg-active-hover: var(--pc-color-bg-active);

  /* Border */
  --pc-tab-color-border-default: var(--pc-color-border-default);
  --pc-tab-color-border-selected: var(--pc-color-highlight-default);

  /* Font */
  --pc-tab-font-family: var(--pc-font-family);
  --pc-tab-font-size: var(--pc-font-size);

  /* Dimensions */
  --pc-tab-size-height: 2.25rem;
  --pc-tab-size-min-width: 7.5rem;
  --pc-tab-size-max-width: 12.5rem;

  --pc-tab-space-border-top: var(--pc-spacing-sm);
  --pc-tab-space-padding: var(--pc-tab-space-border-top) var(--pc-spacing-lg) 0;
  --pc-tab-space-label-gap: var(--pc-spacing-md);

  --pc-tab-outline-focus-visible-width: 2px;

  /* Close Button */
  --pc-tab-close-color-bg-default: transparent;
  --pc-tab-close-color-text-default: var(--pc-color-text-default);
  --pc-tab-close-color-bg-hover: var(--pc-color-danger-default);
  --pc-tab-close-color-text-hover: var(--pc-color-text-active);
  --pc-tab-close-opacity-default: var(--pc-opacity-sm);
  --pc-tab-close-size-icon: 1rem;
  --pc-tab-close-font-size: 0.875rem;
  --pc-tab-close-radius: var(--pc-radius-xs);
  --pc-tab-close-transition: all var(--pc-anim-duration) ease;
  --pc-tab-outline-focus-visible-width: 1px;

  /* Drag and Drop */
  --pc-tab-drag-opacity: var(--pc-opacity-md);
  --pc-tab-drag-transform: scale(1.1);
  --pc-tab-drop-size-indicator: 0.125rem;
  --pc-tab-drop-color-indicator: var(--pc-color-highlight-default);

  /* Animation */
  --pc-tab-anim-slide-duration: var(--pc-anim-duration);
  --pc-tab-anim-slide-offset: calc(var(--pc-spacing-sm) * -1);

  /* Contrast */
  --pc-tab-color-bg-contrast-default: var(--pc-color-bg-contrast);
  --pc-tab-color-bg-contrast-active: var(--pc-color-bg-contrast-active);
  --pc-tab-color-border-contrast: var(--pc-color-border-contrast);
}
