.tabList {
  position: relative;
  display: block;
  width: 100%;
  background: var(--pc-color-bg-default);
  border-bottom: 1px solid var(--pc-color-border-default);
  box-sizing: border-box;
}

.list {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  min-width: max-content;
  height: 100%;
  outline: none;
}

.list:focus-visible {
  outline: 2px solid var(--pc-color-highlight-default);
  outline-offset: -2px;
}

.tabWrapper {
  display: inline-flex;
  flex: 0 0 auto;
}

@media (prefers-contrast: high) {
  .tabList {
    background: var(--pc-color-bg-contrast);
    border-bottom-color: var(--pc-color-border-contrast);
  }
}
